a:link{
    color: #81a2be;
    text-decoration: none;
}

a:visited{
    color: #81a2be;
    text-decoration: none;
}

.center1 {
    display: table;
    width: 100%;
}
.center2 {
    padding: 10px;
    display: table-cell;
    text-align: center;
}

.center3 {
    padding: 10px;
    display: block;
    text-align: center;
}

.dark {
    background-image: url(1401775697667.jpg);
    background-color: rgb(29, 31, 33);
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
    color: aliceblue;
}


.op{
    color: aliceblue;
    margin-left: 16px;
        
}

.pattern {
    background-image: url(1401775697667.jpg);
    background-attachment: local;
    font-family: arial,helvetica,sans-serif;
    color: aliceblue;
}

.dark hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.dgreen{
    background-color: #3e594e   
}

.dred{
    background-color:#701919
}

.login_link{
    text-align: right;
    width: 100%;
    
}

.login_form {
    width: 100%;
    text-align:center;
}

.pattern hr {
    border: 0;
    height: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.3);

}
.redtext {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size:12pt;
    margin: 0;
    border: 0;
}

.post{
    display: table;
    background-color: #282a2e;
    color: white;
    border: 1px solid ##282a2e;
    margin-bottom: 5px;
    margin-left: 16px;
    margin-top: 2px;
    margin-right: 4px;
    padding: 0.5em 5em 0.5em 0.6em;
    max-width: 94%;
}

.post2{
    display: inline-block;
    border-style: double;
    border-color: #d9d9d9;
    text-align: center;
    background-color: #282a2e;
    color: white;
    padding: 3px;
    margin: 3px;
    width: 80%;
    
}

.post3{
    position: relative;
    left: 200px;
    top: 200px;
    border: 1px solid white;
    background-color: #282a2e;
    color: white;
    width: 10%;
}

.post:hover{
    background-color: black;
}

table{
    min-width: 20%;
    text-align: center;
    border: 1px solid white;  
    border-collapse: collapse;
}

td, th, summary, details {
    border: 1px solid white;  
}
/*testing*/

#frontpagebox {
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
}

#contbox {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
    width: 130px;
    height: 50px;
    position: relative;
    left: 650px;
    bottom: 120px;
    vertical-align: middle;
}

#conttext {
    position: relative;
    bottom: 16px;
    right: 1px;
    font-size: 17px;
    text-align: center;
    vertical-align: middle;
    text-align: center;
}

.box {
    background-color: #1a1a1a;
    border-style: double;
    border-color: #d9d9d9;
}

.none{
    width: 700px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    
}

/*Navbar*/

#navbar{ /*Main navbar*/
    position: relative;
    margin: 0;
    padding: 0;
    height: 30px;
    width:90%;
}

#navbar ul{/*Lists within Navbar*/
    margin: 0;
    padding: 0;
    list-style-type: none; /*disables bullets*/
    background-color: #282a2e;/*Adds background colour*/
    overflow: visible;
    text-align: center;
}

#navbar ul > li { /*List Items in Lists Within Navbar*/
    display: block;
    float: left; /*Puts List Items into Horizontal position*/
    width: 120px; /*Sets List Item Width*/
    
}

#navbar li > a{ /*Links within list items*/
    display: block;
    width: 109px; /*Define link Length*/
    background-color: #282a2e; /*Adds background colour*/
    border-right: 1px blue solid; /*Shows Edge*/
    line-height: 30px; /*Increases Size*/
    font-size: 17px;
    color: azure; /*Font formatting*/
    padding: 0 0 0 10px; /*Adds padding to hide space between items*/
    
}

#navbar ul ul {/*Nested Lists*/
    margin-top: 2px;
    display: none; /*Hides Nested Lists*/
    text-align: center;
}

#navbar ul ul li{ /*List items within Nested lists*/
    position:relative;
    float: none;
    display: inline;
    height: 28px;
    width: 100%;
    border: none;
} 

#navbar ul ul li >a{/*Links in list items in nested lists*/
    height: 100%;
    width: 96%;
    padding: 0 0 0 4%;
    line-height: 28px;
    background-color: transparent; /*Keeps colour of navbar*/
    border: none;
    color: white;
    font-size: 12px;
    font-style: normal;
}
    


#navbar li:hover > a{ /*Behaviour of list items in navbar when links are hovered over*/
    color: blue; /*Text Goes Blue*/
    background-color: black; /**Background goes Black*/
    
}

#navbar li:hover > ul{ /*Behaviour of lists within list items when hovered over*/
    display: block; /*Displays Nested Lists*/
}


/*Exercise*/

.follow{
    display: inline-block;
    position: fixed;
    background-color: #282a2e;
    margin: 0px;
    color: white;
    width: 120px;
    border: 1px black solid;
    top: 10%;
    
    
}

.right{
    width: 90%;
    text-align:right;
    
}